.info {
  width: 100%;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  height: auto;
}
.info .info-data {
  padding: 1rem 2rem;
  color: white;
}
.info .info-data .headings {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info .info-data .headings h1 {
  font-size: 2.2rem;
  text-transform: capitalize;
  font-weight: 600;
  color: rgb(252, 251, 251);
  margin-bottom: 2.3rem;
}

.info .info-data .data {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
}
.info .info-data .data .about-zomato {
  width: 19%;
  margin-bottom: 2rem;
}
.info .info-data .data .about-zomato .hea h2 {
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: 0;
  text-align: start;
  color: white;
  
}
.info .info-data .data .about-zomato .media {
  text-align: start;
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1rem;
  color: rgb(170, 167, 167);

}
.info .info-data .data .about-zomato .media p {
  margin-top: 1rem;
  line-height: 1.5rem;
}
.info .info-data .data .about-zomato .media p:hover {
  color: rgb(183, 46, 46);
}
.info .info-data .data .about-zomato .icons {
  font-size: 1.4rem;
  text-align: start;
}
.info .info-data .data .about-zomato .icons i {
  padding: 5px;
}
.info .info-data .data .about-zomato .icons i:hover {
  color: rgb(198, 57, 57);
}

@media screen and (max-width: 900px) {
  .info {
    margin-bottom: 0.7rem;
    padding-bottom: 0;
    width: 100%;
  }
  .info .headings h1 {
    font-size: 1.8rem;
    font-weight: 550;
  }
  .info .data .about-zomato {
    width: 20%;
  }
  .info .data .about-zomato .head h2 {
    font-size: 1rem;
    font-weight: 500;
  }
  .info .data .about-zomato .media {
    font-size: 0.8rem;
  }
  .info .data .about-zomato .media p {
    line-height: 1rem;
  }
  .info .data .about-zomato .icons {
    font-size: 1rem;
  }
}
@media screen and (max-width: 550px) {
  .info {
    height: auto;
  }
  .info .info-data {
    padding: 1rem 1rem;
  }
  .info .info-data .headings h1 {
    font-size: 1.6rem;
  }
  .info .info-data .headings .general {
    width: 40%;
    margin-top: 1.5rem;
  }
  .info .info-data .headings .general p {
    padding: 2px;
    margin-left: 5px;
    text-transform: capitalize;
    font-size: 0.8rem;
  }
  .info .info-data .data {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .info .info-data .data .about-zomato {
    width: 50%;
  }
  .info .info-data .data .about-zomato .head h2 {
    font-size: 1.1rem;
  }
  .info .info-data .data .about-zomato .media {
    text-align: start;
    font-size: 0.9rem;
    margin-top: 1rem;
  }
  .info .info-data .data .about-zomato .media p {
    line-height: 0.8rem;
  }
  .info .info-data .data .about-zomato .media .icons {
    font-size: 1.4rem;
    text-align: start;
  }
  .info .info-data .data .about-zomato .media .icons i {
    padding: 5px;
  }
  .info .info-data .data .about-zomato .media .icons i:hover {
    color: rgb(198, 57, 57);
  }
  .info .copyright {
    padding: 1rem;
    border-top: 1px solid rgb(128, 126, 126);
    margin: 0.5rem;
  }
  .info .copyright p {
    font-size: 0.7rem;
  }
}/*# sourceMappingURL=InfoStyles.css.map */