.itenarys{
    margin:0rem 6rem;
    display: flex;
    margin-top: 0;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;

}
.itenary{
    width:30%;
    border: 2px solid black;
    border-radius: 5px;
    border: none;
    /* box-shadow: 1px 1px 15px black; */
    margin-top:2rem;
    padding:15px;
    transition: .5s ease-in-out;
    /* background-color: #b0e5e7; */
}
.itenary h1{
    font-size: 1.8rem;
    text-align: center;
    text-transform:capitalize;
}
.itenary p{
    font-size: 1rem;
    padding: 2rem;
    line-height: 1.5rem;
    text-align: start;
    padding-top: 10px;
}
.details{
    display: flex;
    justify-content: space-around;
    align-items: center;   
}


.details button{
    font-size: .9rem;
    padding: 7px;
    font-weight: 600;
    background-color: #19acb1;
    border-radius: 5px;

}
@media screen and (max-width:780px){
    .itenary h1{
        font-size: 1.5rem;
    }
    .itenary p{
        font-size: .8rem;
        line-height: 1rem;
        padding: 0;
    }
    .itenary button{
        padding: 2px;
        white-space: nowrap;
    }
}

@media screen and (max-width:580px){
    .itenary h1{
        font-size: 1rem;
    }

    .itenarys{
        display: flex;
        margin: 0;
        padding: 0;
    }
    .itenary p{
        font-size: .7rem;
        line-height: .8rem;
        padding: 0;
    }
    .itenary button{
        padding: 2px;
        white-space: nowrap;
    }
}